<div  class="reporte-container">
  <mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <form class="container" #pdfContent>
        <h1>Reporte de Fin del Día</h1>
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="reporte.fecha" name="fecha" required (dateChange)="getEntradasySalidas($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-card *ngIf="registros.length > 0" class="mt-4">
          <mat-card-title>Detalles de Entrada y Salida</mat-card-title>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="full-width">
              <!-- Definición de columnas -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
              </ng-container>

              <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef>Tipo de Usuario</th>
                <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
              </ng-container>

              <ng-container matColumnDef="entryTime">
                <th mat-header-cell *matHeaderCellDef>Hora de Entrada</th>
                <td mat-cell *matCellDef="let element">{{element.hora}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Hora de salida</th>
                  <td mat-cell *matCellDef="let element">{{element.HoraSalida}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card-content>
        </mat-card>

        <mat-form-field appearance="fill">
          <mat-label>Total de Vehículos</mat-label>
          <input matInput type="number" [(ngModel)]="reporte.totalVehiculos" name="totalVehiculos" required readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Ingresos Totales</mat-label>
          <input matInput type="number" [(ngModel)]="reporte.ingresosTotales" name="ingresosTotales" required readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tiempo Promedio de Estancia (minutos)</mat-label>
          <input matInput type="number" [(ngModel)]="reporte.tiempoPromedio" name="tiempoPromedio" required readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Eventos Importantes</mat-label>
          <textarea matInput [(ngModel)]="reporte.eventosImportantes" name="eventosImportantes"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Observaciones</mat-label>
          <textarea matInput [(ngModel)]="reporte.observaciones" name="observaciones"></textarea>
        </mat-form-field>
      </form>
      <div class="button-group">
        <button mat-raised-button color="accent" (click)="exportarPDF()">Exportar PDF</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
