<!DOCTYPE html>
<html>
<head>
  <title>Lector de Barras</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/@ericblade/quagga2"></script>
  <style>
      body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100vh;
          margin: 0;
          padding: 0;
      }

      #barcode-reader {
          width: 500px;
          height: 150px;
          border: 1px solid #8d1a1a;
          margin-bottom: 10px;
      }
  </style>
</head>
<body>
  <h1>Lector de Barras</h1>
  <div id="barcode-reader"></div>

<form class="was-validated">
    <form>
      <h5>Reguistro para estacionamiento</h5>
      <h1></h1>
        <div class="mb-1]">
          <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Numero de Control</label>
            <input type="tel" class="form-control" id="1223100409" aria-describedby="NumberHelp">
          </div>
      

          <div class="mb-1">
            <label for="exampleInputEmail1" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control"  aria-describedby="NameHelp">
          </div>
          <div class="mb-2">
            <label for="exampleInputEmail1" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control"  aria-describedby="NacHelp">
          </div>

  
    <div class="mb-1">
      <select class="form-select" required aria-label="select example">
        <option value="">Carrera Perteneciente</option>
        <option value="1">Administracion</option>
        <option value="2">Turismo</option>
        <option value="3">Entornos</option>
        <option value="3">Desarrollo de Software</option>
        <option value="3">Diseño</option>
        <option value="3">Mecatronica</option>
        <option value="3">Procesos</option>
      </select>
      <div class="invalid-feedback">Ejemplo de select feedback no válido</div>
    </div>
    <div class="mb-1" >
      <select class="form-select" required aria-label="select example">
        <option value="">Grupo</option>
        <option value="1">GDS0631</option>
        <option value="2">GDS0634</option>
        <option value="3">GDS0632</option>
      </select>
      <div class="invalid-feedback">Ejemplo de select feedback no válido</div>
    </div>

    <div class="mb-1">
      <select class="form-select" required aria-label="select example">
        <option value="">Ocupacion</option>
        <option value="1">Estudiente</option>
        <option value="2">Profesor</option>
      </select>
      <div class="invalid-feedback">Ejemplo de select feedback no válido</div>
    </div>

    <div class="mb-1">
      <button class="btn btn-primary" type="submit" >Enviar formulario</button>
    </div>
  </form>
  <h1></h1>
  
